
*{
  margin: 0;
  padding: 0;
}


body {
  background-image: url('images/background-img.png');
  background-size: cover; 
  background-repeat: no-repeat;
}

header {
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-left: 60px;
  margin-right: 70px;
}

.logo, img{
  height: 70%;
}

.rounded-rectangle {
  width: 170px;
  height: 45px;
  border-radius: 75px;
  background-color:  #D9D9D9;
  align-items: center;
}

span {
  color: white;
}

.row {
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
}

.audio, img {
  height: 25%;
  margin-left: 10.25px;
  margin-right: 7px;
}

.arrow-right {
  height: 20%;
  margin-left: 9.88;
  margin-right: 16.12px;
}

.container-row {
  overflow: hidden;
  display: flex;
}


.pagination {
  display: block;
  align-items: center;
  max-width: 200px;
  position: relative;
  top: 300px;
  margin-right: 210px;
  margin-left: 70px;
  /* flex-direction: column; */
}

 .pag-item-1 {
  width: 15px;
  height: 15px;
  border: .1px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 15px;
  position: relative
}

.pag-marker {
  height: 9.5px;
  width: 9.5px;
  color: transparent;
}

.pag-item-2 {
  width: 1px;
  height: 75px;
  background: #D9D9D9;
  margin-top: 1px;
  margin-left: 7px;
}

.scroll-wheel-wrapper, .scroll-img {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10vh;
  display: block;
  width: 850px;
  height: 850px;
  position: relative;
}



@media (max-width: 992px) {
  .scroll-wheel-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 90%;
    width: 80%;
    
  }
}

.scroll-img2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 700px;
  /* width: 60%; */
  z-index: -1;
  display: block;
  margin: auto;
}

.scroll-img3 {
  position: absolute;
  top: 85%;
  left: -10%;
  transform: translate(-50%, -50%);
  height: 400px;
  z-index: -1; /* Adjusted z-index */
  display: block;
  margin: auto;
}

.column {
  display: flex;
}

.menu-curved-line {
  width: 200px;
  height: 70px;
  border: solid 5px #fff;
  border-color: #fff transparent transparent transparent;
  border-radius: 50%/60px 60px 0 0;
  position: relative;
  z-index: -1; /* Adjusted z-index */
  margin-top: -13px;
}

.menu-circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url('images/Ellipse 5.png');
  background-size: cover;
  position: absolute;
  z-index: 2; /* Adjusted z-index */
  margin-left: 72px;
  margin-top: -25px;
}

.menu-curved-line1 {
  width: 200px;
  height: 70px;
  border: solid 5px #fff;
  border-color: #fff transparent transparent transparent;
  border-radius: 50%/55px 60px 0 0;
  position: relative;
  z-index: -1; /* Adjusted z-index */
  margin-top: 190px;
  margin-left: -157px;
  transform: rotate(-105deg);
}

.menu-circle1 {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url('images/Ellipse 5.png');
  background-size: cover;
  position: absolute;
  z-index: 2; /* Adjusted z-index */
  margin-left: 75px;
  margin-top: -30px;
  transform: rotate(105deg);
}

.menu-curved-line2 {
  width: 200px;
  height: 70px;
  border: solid 5px #fff;
  border-color: #fff transparent transparent transparent;
  border-radius: 50%/68px 48px 0 0;
  position: relative;
  z-index: -1; /* Adjusted z-index */
  margin-top: 183px;
  margin-left: 162px;
  transform: rotate(104deg);
}

.menu-circle2 {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url('images/Ellipse 5.png');
  background-size: cover;
  position: absolute;
  z-index: 2; /* Adjusted z-index */
  margin-left: 65px;
  margin-top: -30px;
  transform: rotate(-106deg);
}

.column-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


 #menu-wheel {
  width: 50%;
  padding-top: 50%
}

.wheel-item {
  position: absolute;
  top: 25%;
  left: 80%;
  transform: translate(-50%,-50%);
  border-radius: 50%
}

.scrolled-point, .oil-and-gas-point{
  top: 40%;
  left: -35%;
  
}


.row {
  display: flex;
  justify-content: space-between;
}


li.scrolled-point {
  position: absolute;
  z-index: 1;
}

.scroll-wheel-circle {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;

}

.active, .scroll-wheel-circle {
  display: initial;
}

.column-text, p.text {
  margin-top: -6px; /* Adjust the margin as needed */
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color:#686868;
  font-size: 8px;
}

.oil-and-gas-image {
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
  padding-top: 10%;
}

.logistic-image {
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
  padding-top: 15%;
  padding-right: 10%;
}

.renewable-image {
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
  padding-top: 15%;
  padding-right: -5%;
}

.description-column {
  display: block;
  position: relative;
  top: 500px;
  margin-right: auto;
}

.description-header {
  font-family: 'Lato', sans-serif;
  color: #F7F7F7;
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 10px;
}

.description-text {
  color: #F7F7F7;
  max-width: 60%;
  position: relative;
  font-weight: normal; /* Corrected value */
  font-size: 14px;
}